# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
env/
venv/
.env/

# Type checking & testing caches
.mypy_cache/
.pytest_cache/
.coverage

# Editor & OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Project generated artifacts
graph.dot
graph.png
